services:
  db:
    image: mysql:8.0
    container_name: franchise-db
    environment:
      MYSQL_DATABASE: franchise_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: franchise-api
    ports:
      - "8080:8080"
    environment:
      SPRING_R2DBC_URL: r2dbc:mysql://db:3306/franchise_db
      SPRING_R2DBC_USERNAME: admin
      SPRING_R2DBC_PASSWORD: password
      SPRING_SQL_INIT_MODE: always
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data: