spring:
  application:
    name: franchise-api

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    displayRequestDuration: true
    defaultModelsExpandDepth: 1
    defaultModelExpandDepth: 1
    displayOperationId: false
    tryItOutEnabled: true
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json