# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
*.swp
*.swo

# Environment
.env
.env.local
terraform.tfvars.local
